{% extends "/theblog/page.html" %}
{% load cms_tags %}
{% load sekizai_tags staticfiles %}
 
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
 
{% block page-inner %}

{% for post in posts %}
<div class="blog-post post">

		<header>
		<div class="blog-post-title title">
			<h4><a href="{% url 'post_show' id=post.id %}">{{ post.title }}</a></h4>
		</div>


		<div class="blog-post-meta meta">
			<time class="published">Published {{ post.created_at |date:'d M Y' }}</time>
			<a href="/theblog/{{post.id}}" class="author"><span class="name">{{ post.author }}</span>
			<img src="{% static 'images/avatar.jpg' %}" alt="" /></a>

<!-- 
			<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Hey, you could Visit the main SmsLeopard page by signing into the platform from the side menu">
  			<span>{{ post.author }}</span>
			</button> -->

		</div>
		</header>

		<a href="/theblog/{{post.id}}" class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>

		<p>  {{ post.body | truncatechars:250 }}</p>

		<footer>
									<ul class="actions">
										<li><a href="{% url 'post_show' id=post.id %}" class="button big">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="/theblog/{{post.id}}">General</a></li>
										<li><a href="/theblog/{{post.id}}" class="icon fa-heart">{{post.likes}}</a></li>
										<li><a href="/theblog/{{post.id}}" class="icon fa-comment">{{post.comments}}</a></li>
									</ul>
								</footer>
 

</div>
{% endfor %}

		

<nav aria-label="...">
  <ul class="pager">
    <li class="previous">{% if posts.has_previous %}
            <a href="?{{ page_request_var }}={{ posts.previous_page_number }}">Older Posts</a>
        {% endif %}</li>

    <li><span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span> </li>
    <li class="next">{% if posts.has_next %}
            <a href="?{{ page_request_var }}={{ posts.next_page_number }}">Newer Posts</a>
        {% endif %}</li>
  </ul>
</nav>




{% endblock page-inner %}