{% extends "/theblog/page.html" %}
{% load cms_tags %}
{% load sekizai_tags staticfiles %}
 
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
 
{% block page-inner %}

{% for post in posts %}
<div class="blog-post post">

		<header>
		<div class="blog-post-title title">
			<h4><a href="/theblog/{{post.id}}">{{ post.title }}</a></h4>
		</div>


		<div class="blog-post-meta meta">
			<time class="published">Published {{ post.created_at |date:'d M Y' }}</time>
			<a href="/theblog/{{post.id}}" class="author"><span class="name">{{ post.author }}</span>
			<img src="{% static 'images/avatar.jpg' %}" alt="" /></a>

		</div>
		</header>

		<a href="/theblog/{{post.id}}" class="image featured"><img src="images/pic01.jpg" alt="" /></a>

		<p>  {{ post.body }}</p>

		<footer>
									<ul class="actions">
										<li><a href="/theblog/{{post.id}}" class="button big">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="/theblog/{{post.id}}">General</a></li>
										<li><a href="/theblog/{{post.id}}" class="icon fa-heart">{{post.likes}}</a></li>
										<li><a href="/theblog/{{post.id}}" class="icon fa-comment">{{post.comments}}</a></li>
									</ul>
								</footer>
 

</div>
{% endfor %}

			<div class="actions pagination">
   						<span class="step-links">
        				{% if page.has_previous %}
        				<li><a href="?page={{ page.previous_page_number }}" class="disabled button big previous">Previous Page</a></li>
        				{% endif %}

        				<span class="current">
            			Page {{ page.number }} of {{ page.paginator.num_pages }}.
        				</span>

        				{% if page.has_next %}
        				<li><a href="?page={{ page.next_page_number }}" class="button big next">Next Page</a></li>
        				{% endif %}
    					</span>
						</div>
{% endblock page-inner %}