{% extends 'base.html' %}
{% load cms_tags %}
{% load sekizai_tags staticfiles %}
						
{% block content %}


						<!-- Post -->
<article class="blog-post post">
	<header>
		<div class="blog-post-title title">
			<h4><a href="/theblog/{{post.id}}">{{ post.title }}</a></h4>
		</div>

		<div class="blog-post-meta meta">
			<time class="published">Published {{ post.created_at |date:'d M Y' }}</time>
			<a href="/theblog/{{post.id}}" class="author"><span class="name">{{ post.author }}</span>
			<img src="{% static 'images/avatar.jpg' %}" alt="" /></a>

		</div>
	</header>
			<span class="image featured">
			<a href="/theblog/{{post.id}}" class="image featured">
			<img src="{{ post.picture }}" alt="" /></a>
			</span>
			<p>  {{ post.body }}</p>
	<footer>
			<ul class="stats">
				<li><a href="#">General</a></li>
				<li><a href="/theblog/{{post.id}}" class="icon fa-heart">{{post.likes}}</a></li>
				<li><a href="/theblog/{{post.id}}" class="icon fa-comment">{{post.comments}}</a></li>
			</ul>
	</footer>
</article>

				<!-- Footer -->
<section id="footer">
		<ul class="icons">
			<li><a href="https://twitter.com/home?status=Sending%20sms%20with%20SmsLeopard%20has%20never%20been%20so%20easier" class="fa-twitter"><span class="label">Twitter</span></a></li>



			
			<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://CodingForEntrepreneurs.com/" class="fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="https://plus.google.com/share?url=http://codingforentrepreneurs.com" class="fa-instagram"><span class="label">Google Plus</span></a></li>
			<li><a href="https://www.linkedin.com/shareArticle?mini=true&url=Sending%20sms%20with%20SmsLeopard%20has%20never%20been%20so%20easier" class="fa-rss"><span class="label">LinkedIn</span></a></li>
		</ul>
			<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
</section>


{% endblock content %}